a.accordion-title.js-tasks_section(href='#')
  h5 Задачи

.tasks.accordion-content.js-tasks(data-tab-content)

  ul.tabs#wheel-tabs.js-wheel_tabs(data-tabs role='tablist')

  .tabs-content.js-wheel_tabs-content(data-tabs-content='wheel-tabs')
