extends layout

block content
  header.header.row.text-center
    a(href='/').logo
      img(src='./images/laura.svg')

  main

    section.row

      .small-12.medium-6.columns.accordion(data-accordion data-multi-expand='true' data-allow-all-closed='true')

        .accordion-item(data-accordion-item)

          include sections/add-task

      .small-12.medium-6.columns.accordion(data-accordion data-multi-expand='true' data-allow-all-closed='true')

        .accordion-item(data-accordion-item)

          include sections/wheel

      .small-12.medium-6.columns.accordion(data-accordion data-multi-expand='true' data-allow-all-closed='true')

        .accordion-item(data-accordion-item)

          include sections/tasks

      .small-12.medium-6.columns.accordion(data-accordion data-multi-expand='true' data-allow-all-closed='true')

        .accordion-item(data-accordion-item)

          include sections/daily-tasks

      .small-12.medium-6.columns.accordion(data-accordion data-multi-expand='true' data-allow-all-closed='true')

        .accordion-item(data-accordion-item)

          include sections/matrix

    footer.footer.row.text-center
