.sector_chosen
  background: $light-gray

.sector__progress
  position: relative

.sector__progress-text
  left: initial // reset foundation value .progress-meter-text
  right: 0

.sector__score
  left: 0
  position: absolute
  top: 0

.sector__desirable-score
  background: $success
