.tables
  padding: 0

.table
  display: none

.table-active
  display: table

.table ul
  list-style: none
  margin: 0
  padding: 0
  position: relative

.table td
  padding: 0
  vertical-align: top

.table tbody tr:nth-child(even)
  background: white
  border-top: 1px solid $light-gray

.table .task
  margin: 0

.cell-title
  background: $light-gray
  border-bottom: 1px solid $light-gray
  font-size: 1.1rem
  text-align: center

.cell-title_first,
.cell-title_second,
.cell-title_third
  border: 0
  color: $white

.cell-title_first
  background: $alert

.cell-title_second
  background: $warning

.cell-title_third
  background: $success

@media (min-width: 40em)

  .table tbody td
    min-width: 284px

@media (min-width: 64em)

  .table tbody td:nth-child(even)
    border-left: 1px solid $light-gray

  .table tbody td ul
    max-height: 475px
    overflow-x: hidden
