ol, ul
  margin-left: 0

.tabs-panel
  padding: 0

/* Small only */
@media screen and (max-width: 39.9375em)

  .small-12
    width: 95%

  .column:last-child:not(:first-child), .columns:last-child:not(:first-child)
    float: left
